# Ignore files with poasswords and keys
terraform.tfvars
*.tfvars

# Ignore work folder and cashe
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
*.tfstate*

# System files OS
.DS_Store
Thumbs.db